 *{
  margin: 0;
  padding: 0;
}
.main{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
ul{
  margin-left: 50px;
}